p {
   font-size: 20pt;
}

a {
  color: #585858
}

.remark-slide-content {
  background-color: #FAFAFA;
  background-image: url(./figures/lifebrain_black.svg), url(http://folk.uio.no/athanasm/Lifebrain/flag_yellow_high_eu.jpg);
  background-position: 15% 95%, 2% 95%;
  background-size: auto 10%, auto 10%;
  border-top: 100px solid #f7ec48;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  padding: 1em 2em 1em 2em
}


.title-slide .remark-slide-content {
  background-color: #FAFAFA;
}

.inverse {
  border-top: 100px solid #000;
  background-color: #f7ec48;
  text-shadow: none;
  color: #000;
}

.dark {
  background-image: url(./figures/lifebrain_white.svg), url(http://folk.uio.no/athanasm/Lifebrain/flag_yellow_high_eu.jpg);
  background-color: #000;
  color: #FAFAFA;
}

.title-slide {
  background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)),  url(http://folk.uio.no/athanasm/Lifebrain/LBppt_picture.jpg);
  background-size: 100% auto;
  background-position: center top;
}


.remark-slide-content > h1 {
  font-family: 'Fira Sans';
  font-weight: normal;
  font-size: 45px;
  margin-top: -95px;
  margin-left: -00px;
  color: #1A292C;
}

/* Removes colored bar from top of the slide resulting in a clear slide */
.clear{
  border-top: none;
  background-image: none;
  background-position: none;
  background-size: none;
}

.noborder{
  border-top: none;
}

.remark-slide-content > h2, h3, h4 {
  padding-top: -15px;
  padding-bottom: 00px;
  color: #1A292C;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 00px;
  margin-bottom: -10px;
}


.remark-slide-content > h2, .pull-left > h2, .pull-right > h2 {
  font-size: 35px;
}

.remark-slide-content > h3, .remark-slide-content > h4,
.pull-left > h3, .pull-left > h4, .pull-right > h3, .pull-right > h4 {
  font-size: 30px;
}

.title-slide {
  background-color: #FAFAFA;
  border-top: none;
}

.title-slide > h1  {
  color: #000000;
  font-size: 40px;
  text-shadow: none;
  font-weight: 400;
  text-align: right;
  margin-left: 15px;
  padding-top: 80px;
}

.title-slide > h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  color: #1A292C;
  text-shadow: none;
  font-weight: 300;
  font-size: 35px;
  text-align: right;
  margin-left: 15px;
}

.title-slide > h3  {
  color: #1A292C;
  text-shadow: none;
  font-weight: 300;
  font-size: 25px;
  text-align: right;
  margin-left: 15px;
  margin-bottom: -30px;
}

.remark-slide-number {
  font-size: 13pt;
  font-family: 'Fira Sans';
  color: #272822;
  opacity: 1;
}

.citation{
 text-align: right; 
 font-size: 12pt;
}

.dark h1{
  color: #000;
}

.dark h2, .dark h3, .dark h4, .dark .remark-slide-number {
  color: #FAFAFA;
}

.dark a {
  color: #f7ec48;
}

.inverse h1 {
  color: #fafafa;
} 

.inverse > h2, h3, h4 {
  color: #000;
} 

/* turns off slide numbers for title page: https://github.com/gnab/remark/issues/298 */
.title-slide .remark-slide-number {
  display: none;
}

.remark-inline-code {
  /* background: #F5F5F5; /* lighter */
  background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}

.center > h2, h3, h4 {
  text-align: center;
}
